<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthSync</title>
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div class="container">
    <div class="logo">
        <span class="plus">+</span> <span class="title">Health<span class="sync">Sync</span></span>
    </div>
    <div class="form-container">
        <div class="login">
            <h2>Login</h2>
            <form>
                <label>E-mail</label>
                <input type="email" placeholder="Enter email">
                <label>Password</label>
                <input type="password" placeholder="Enter password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="divider"></div>
        <div class="signup">
            <h2>Sign up</h2>
            <form>
                <label>Name</label>
                <input type="text" placeholder="Enter name">
                <label>E-mail</label>
                <input type="email" placeholder="Enter email">
                <label>Password</label>
                <input type="password" placeholder="Enter password">
                <button type="submit">Sign up</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
